/* Space out content a bit */
body {
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 10px;
  padding-right: 10px;
}

/* Custom page header */
.header {
  background:#797979;
  background-color: rgba(121, 122, 122, 0.9);
  padding:0px 00px 0 10px;
  height: 60px;
  float: left;
  width: 100%;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  
  line-height: 5px;
  padding-bottom: 5px;
}

/* Custom page footer */
.footer {
  position:fixed;
  bottom:0;
  z-index:100;
  background:#797979;
  background-color: rgba(121, 122, 122, 0.9);
  padding:10px 10px 0 10px;
  color:#fff;
  width:100%;
  left:0;
}


.loginFields{
  padding: 2px;
  background: #797979;
  background-color: rgba(121, 122, 122, 0.9);
  height: 35px;
  position: absolute;
  top: 2px;
  right: 20px;
}

.userFields{
  border-radius: 2px;
}

.templateView{
  float: left;
}


/* css for left nav bar in feed and profile page */
.nav {
    line-height:30px;
    height:500px;
    width:100px;
    float:left;
    padding:15px; 
    border-right: 2px solid black; 
    
}

#feedPage {
    width:auto;
    float:left;
    padding:10px;  
}

#profilePage{
    width:auto;
    float:left;
    padding:10px; 
}

button {
    border: 1px solid black;
    padding: 7px;
}

button.defaultBtn {
    width: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

#btnSignOut{
    float: right;
    padding-right: 5px;
}

td {
    padding: 10px;

}