<div ng-init = "getProfileInformation()">
					<button id = "btnSignOut" class="defaultBtn" ng-click = "signOut()">Signout</button>
					<div class = "nav">
						<button class="defaultBtn" ng-click = "changeView('feedsView')">Feed</button>
						<button class="defaultBtn" ng-click = "changeView('profileView')">Profile</button>
					</div>

						<div id="profilePage">					
							<table> 
								<tr>
									<td><div class = "userIcon"></div></td>
									<td>
										<table>
											<tr>
												<td><div class = "userIcon"></div></td>
												<td>
													<table>
														
														<tr><td>*<input id = "profilename" ng-model = "profileUsrName" class = "profileElements" type="text" name="f"  placeholder="Name" align = "center"></td></tr>

														<tr><td>*<input id = "age" ng-model = "profileUsrAge" class = "profileElements" type="text" name="f"  placeholder="Age" align = "center"></td><tr>

														<tr><td>*<input id = "phone" ng-model = "profileUsrPhone" ng-pattern="onlyNumbers" class = "profileElements" type="text" name="f"  placeholder="Phone" align = "center" ></td><tr>

														<tr><td>*<input id = "email" ng-model = "profileUsrEmail" class = "profileElements" type="text" name="f"  placeholder="Email" align = "center"></td><tr>

														<tr><td><textarea id = "address" ng-model = "profileUsrAddress" rows="4" placeholder="Address"></textarea></td><tr>

														<tr><td>
														<input type="text" name="f"  ng-model = "profileUsrImg" placeholder="Profile Image" align = "center">
														<input type="button" value="Browse..."/>
</td></tr>
<tr><td>
														<input type="file" filelist-bind name="files"/>
														<br>
														files : <pre> {{ files[0].name | json }} </pre>
													
														</td></tr>


														<tr><td>
														<button class="defaultBtn" ng-disabled="!itemProfileValid()" ng-click = "saveProfileInformation()">Save</button>
														</td><td>

													</table>
												</td>
												<td>
													<img ng-src= "{{src}}" ng-load = "onLoad()" width="110px" height="150px"></img>
												</td>
												<td> <td><div class = "userIcon"></div></td></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
				</div>